<mat-progress-spinner
  *ngIf="loadingService.loading$ | async"
  mode="indeterminate"
  color="accent"
  class="spinner"
></mat-progress-spinner>

<div *ngIf="film" class="film-details">
  <div class="film-header">
    <h1 class="film-title">{{ film?.title }}</h1>
    <img
      *ngIf="filmImageUrl"
      [src]="filmImageUrl"
      alt="{{ film?.title }}"
      class="film-image"
    />
  </div>
  <p class="film-info">Producer: {{ film?.producer }}</p>
  <p class="film-info">Director: {{ film?.director }}</p>
  <p class="film-info">Release Date: {{ film?.release_date }}</p>
  <p class="opening-crawl">{{ film?.opening_crawl }}</p>

  <h3 class="characters-title">Characters:</h3>
  <div class="characters-list">
    <div
      *ngFor="let character of characters"
      (click)="navigateToCharacterDetails(character)"
      class="character-item"
    >
      <div>
        <img
          *ngIf="characterImages[character.name]"
          [src]="characterImages[character.name]"
          alt="{{ character.name }}"
          class="character-image"
        />
        <h4>{{ character.name }}</h4>
      </div>
    </div>
  </div>
</div>
