<mat-progress-spinner
  *ngIf="loadingService.loading$ | async"
  mode="indeterminate"
  color="accent"
  class="spinner"
></mat-progress-spinner>

<div *ngIf="movie" class="movie-details">
  <h1 class="movie-title">{{ movie?.title }}</h1>
  <p class="movie-info">Producer: {{ movie?.producer }}</p>
  <p class="movie-info">Director: {{ movie?.director }}</p>
  <p class="movie-info">Release Date: {{ movie?.release_date }}</p>
  <p class="opening-crawl">{{ movie?.opening_crawl }}</p>

  <h3 class="characters-title">Characters:</h3>
  <ul class="characters-list">
    <li
      *ngFor="let character of characters"
      (click)="navigateToCharacterDetails(character)"
      class="character-item"
    >
      {{ character.name }}
    </li>
  </ul>
</div>
