<mat-progress-spinner
  *ngIf="loadingService.loading$ | async"
  mode="indeterminate"
  class="spinner"
></mat-progress-spinner>

<div *ngIf="character" class="character-details">
  <h1 class="character-name">{{ character?.name }}</h1>

  <img
    *ngIf="characterImages[character?.name]"
    [src]="characterImages[character?.name]"
    alt="{{ character?.name }}"
    class="character-image"
  />

  <p class="character-info">Height: {{ character?.height }} cm</p>
  <p class="character-info">Mass: {{ character?.mass }} kg</p>
  <p class="character-info">Hair color: {{ character?.hair_color }}</p>
  <p class="character-info">Skin color: {{ character?.skin_color }}</p>
  <p class="character-info">Eye color: {{ character?.eye_color }}</p>
  <p class="character-info">Gender: {{ character?.gender }}</p>
  <p class="character-info">Birth Year: {{ character?.birth_year }}</p>

  <h3 class="films-title">Movies:</h3>
  <div class="films-list">
    <div
      *ngFor="let film of films"
      (click)="navigateToMovieDetails(film)"
      class="film-item"
    >
      <img
        *ngIf="filmImages[film.title]"
        [src]="filmImages[film.title]"
        alt="{{ film.title }}"
        class="film-image"
      />
      <h4>{{ film.title }}</h4>
    </div>
  </div>
</div>
